.header{
  width: 100%;
  padding: 10px 20px;
  background: rgb(148, 148, 148);
  position: fixed;
  top:0;


&__wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

&__ttl{
  font-size: 24px;
  color: azure;
}
}
